.headercard{
    height: 75px;
    margin-bottom: 3%;
    margin-top: 3%;
}
.tablecard{
    border: 0.5px solid #7d7c78;
    padding-bottom: 5%;
    padding-top: 1%;
    background-color: #f8f8ff;
}
.cardtext{
    padding-top: 2%;
    padding-left: 3%;
}
.cardtable{
    padding-left: 3%;
    padding-right: 3%;
}